
// logo
.header__logo{
  height: 3.25rem;
  margin-left: 2rem;
}

//search box
.header__search{

  font-size: 1.4rem;
//background-color: aquamarine;
  flex: 0 0 40%;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input{
    font-family: inherit;
    font-size: inherit;
    color:inherit;
    background-color: var(--color_grey_light_2);
    border:none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -2.5rem;

    transition: all .3s;

    &::-webkit-input-placeholder{
      font-weight: 100;
      color:var(--color_grey_light_4);
    }

    &:focus{
      //outline: 1px solid  var(--color_grey_dark_3);
      outline: none;
      width: 100%;
      background-color: var(--color_grey_light_3);
    }

  }

  &__input:focus + &__button{
    background-color: var(--color_grey_light_3);
  }

  &__button{
    border:none;
    background-color: var(--color_grey_light_2);
    transition: all .3s;

    &:focus{
      outline: none;
    }

    &:active{
      transform: translateY(2px);
    }

    &__icon{
      height: 2rem;
      width: 2rem;
      fill: var(--color_grey_dark_3);
    }
  }



}

// user navigation

.header__user__nav{
  align-self: stretch;

  display: flex;
  align-items: center;

  & > *{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover{
    background-color: var(--color_grey_light_2);
  }


  &__icon__box{

    position: relative;

    &__icon{
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--color_grey_dark_2);
    }

    &__notification{
      font-size: .8rem;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 500px;
      color: var(--color__white);
      background-color: var(--color_primary);

      position: absolute;
      top:1.5rem;
      right:1rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

&__user{

display: flex;
justify-content: space-between;

  &__photo{
    height: 3.75rem;
    width: 3.75rem;
    border-radius: 50%;

    margin-left: 1rem;
  }

  &__name{
    margin-left: .6rem;
    font-size: 1.4rem;
  }
}

}